.section {
  margin-top: 80px;
}

.tarifs-list {
  display: grid;
  max-width: 1156px;
  grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
  margin: 0 auto;
  gap: 24px;
}

.tarifs-list__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  border-radius: var(--border-rad-8);
  box-shadow: 0 0 32px 0 rgba(78, 93, 124, 0.16);
  transition: background-color 0.3;
}

@media (max-width: 800px) {
  .tarifs-list__card {
    padding: 48px 24px;
  }
}

.tarifs-list__card_one {
  padding-top: 93px;
}

.tarifs-list__card_active {
  background-color: var(--main-blue);
}

.tarifs-list__card_active .card-title {
  color: var(--white);
}

.tarifs-list__card_active .card-text {
  color: var(--hover-gray);
}

.tarifs-list__card_active .field {
  color: var(--white);
}

.tarifs-list__card_active .card-main__fields:nth-child(2) {
  border-top: 1px solid var(--border-hov);
  border-bottom: 1px solid var(--border-hov);
}

.tarifs-list__card_active .free-sticker {
  background-color: var(--white);
  color: var(--main-blue);
}

.card-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sticker-green {
  border-radius: var(--border-rad-8);
  padding: 4px 16px;
  width: 124px;
  color: var(--white);
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  background-color: var(--sticker-green);
}

.card-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: var(--main-dark);
}

.card-text {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: var(--section-text);
  margin-bottom: 32px;
}

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}

.card-main__fields {
  display: flex;
  align-items: center;
}

.card-main__fields:first-child {
  padding-bottom: 16px;
}

.card-main__fields:nth-child(2) {
  border-top: 1px solid var(--ligth-gray);
  border-bottom: 1px solid var(--ligth-gray);
  padding: 8px 0;
}

.card-main__fields:last-child {
  padding-top: 16px;
}

.field {
  font-weight: 500;
  font-size: 17px;
  line-height: 120%;
  color: var(--accent);
  white-space: nowrap;
}

.field:first-child {
  flex: 2 0 0;
}

.field:last-child {
  flex: 1 0 0;
}

.total-price {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-gray);
}

.card-main__fields > .sticker-yellow {
  border-radius: var(--border-rad-8);
  padding: 8px 16px;
  background-color: var(--sticker-yellow);
  color: var(--white);
  text-align: center;
  vertical-align: middle;
}
